APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=https://urbisdev.tech

TURNSTILE_SECRET=
TURNSTILE_SITE_KEY=0x4AAAAAADvIu0VwIqcVifXe

MAIL_MAILER=smtp
MAIL_HOST=smtp.zoho.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=contato@urbisdev.tech
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=contato@urbisdev.tech
MAIL_FROM_NAME=UrbisDev
